*{
padding:0;
margin:0;
}


body{
font-family: 'Poppins', 'Roboto', sans-serif;
width:100%;
height:100vh;
background:#fff;
color:#474747;
line-height:1;
font-size:12px;
word-spacing:2px;
}

.container{
display:flex;
justify-content:flex-start;
align-items:center;
flex-wrap:wrap;
width:100%;
height:100vh;
margin:0;
  position:relative;
}

.con{
display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;
width:100%;
height:auto;
}

.side-bar{
width:auto;
flex:1;
height:100vh;
background: linear-gradient(360deg, #FFFFF9, #E8EFF2);
}

.img-con{
width:200px;
height:200px;
border-radius:20000px;
border:3px solid #FFFFF9;
  background:none;
  object-cover:fit;
}
.img{
width:100%;
height:100%;
border-radius:100%;
  object-cover:fit;
}

.margin{
margin:20px;
}

.right{
flex:4;
width:auto;
height:100vh;
background:#FFFFF9;
}
.space{
height:2rem;
}
.small-space{
height:0.5rem;
}
.sub-heading, .title{
font-size:14px;
font-weight:600;
}
.tit{
font-size:13px;
font-weight:bolder;
}
.box{
padding:0 20px;
border-style:none none none solid;
}
ul{
padding:0 20px;
}
hr{
height:4px;
border:none;
border-radius:25px;
background:#E8EFF2;
}
span{
font-weight:200;
}
.mail{
color:blue;
cursor:pointer;
}

@media(max-width:768px){
.side-bar{
height:auto;
background:#E8EFF2;
}
}

@media(width:768px){
  .side-bar{
    top:0;
    position:absolute;
    background: linear-gradient(360deg, #FFFFF9, #E8EFF2);
  }
}
